    {% extends 'base.html' %}

    {% block content %}
    <h1>Add a New Customer</h1>
    <form method="post">
        <p>
            <label for="nom">Nom</label>
            <input type="text" name="nom" placeholder="Nom">
        </p>

        <p>
            <label for="prenom">Prenom</label>
            <input type="text" name="prenom" placeholder="Prenom">
        </p>

        <!-- <p>
            <label for="adresse">Adresse</label>
            <input type="text" name="adresse" placeholder="Adresse">
        </p> -->

        <p>
            <label for="telephone">Telephone</label>
            <input type="text" name="telephone" placeholder="Telephone">
        </p>
        <!-- the map code-->
        <div id="map" style="height: 250px;"></div>
        <input type="hidden" id="latitude" name="latitude" value="">
        <input type="hidden" id="longitude" name="longitude" value="">
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
            var initialLat = {{ latitude }};
            var initialLng = {{ longitude }};
            var map = L.map('map').setView([initialLat, initialLng], 16);

            var layer = L.tileLayer('https://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            });

            map.addLayer(layer);

            // Create and add a marker to the map at the initial coordinates
            var marker = L.marker([initialLat, initialLng]).addTo(map);

            map.on('click', function (e) {
                var lat = e.latlng.lat;
                var lng = e.latlng.lng;

                document.getElementById('latitude').value = lat;
                document.getElementById('longitude').value = lng;

                // Update the marker's position to the new coordinates
                marker.setLatLng(e.latlng);
            });
        });
        </script>

    {% endblock %}