{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Orders List</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Start Delivery Date</th>
                <th>End Delivery Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.customer.nom }} {{ order.customer.prenom }}</td>
                <td>{{ order.product.name }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.start_delivery_date.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ order.end_delivery_date.strftime('%Y-%m-%d %H:%M') }}</td>

                <td>
                    <form action="{{ url_for('order.delete_order', id=order.id) }}" method="POST" style="display:inline;">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
