<!DOCTYPE html>
<html>
<head>
    <title>TomTom Map Example</title>
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.12.0/maps/maps-web.min.js"></script>
</head>
<body>
    <h1>Locate Address on TomTom Map</h1>
    <form method="post">
        <input type="text" name="address" placeholder="Enter address">
        <button type="submit">Show on map</button>
    </form>
    <div id="map" style="height: 500px;"></div>
    <script>
        var map = tt.map({
            key: '{{ api_key }}',
            container: 'map',
            center: [{{ longitude }}, {{ latitude }}],
            zoom: 14
        });

        var marker = new tt.Marker().setLngLat([{{ longitude }}, {{ latitude }}]).addTo(map);
    </script>
</body>
</html>
