{% extends 'base.html' %}
{% block content %}
<h1>Customers</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Adresse</th>
            <th>Telephone</th>
            <th>Action</th> <!-- Add a header for the actions column -->
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.nom }}</td>
            <td>{{ customer.prenom }}</td>
            <td>{{ customer.adresse }}</td>
            <td>{{ customer.telephone }}</td>
            <td>
                <!-- Delete button form -->
                <form action="{{ url_for('delete_customer', customer_id=customer.id) }}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}