{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>List of Products</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.nom }}</td>
                <td>{{ product.description }}</td>
                <td>${{ product.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
