{% extends 'base.html' %}

{% block content %}
<h1>Customers</h1>
<table class="table table-striped"> 
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Adresse</th>
            <th>Telephone</th>
            <th>Action</th> 
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.nom }}</td>
            <td>{{ customer.prenom }}</td>
            <td>{{ customer.adresse }}</td>
            <td>{{ customer.telephone }}</td>
            <td>

                <form action="{{ url_for('main.delete_customer', customer_id=customer.id) }}" method="POST" style="display:inline;">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
